//
// Button
//
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/variables';
@import '../../globals/scss/import-once';

// Import this only once
@include exports('button') {

  .#{$prefix}--btn {
    display: inline-block;
    padding: 5px 20px;
    font-family: inherit;
    font-weight: 300;
    font-size: $button-font-size;
    border: 0;
    transition: border-color 150ms linear, background-color 150ms linear, box-shadow 150ms linear;

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(49, 50, 51, 0.2);
      transition: border-color 150ms linear, background-color 150ms linear, box-shadow 150ms linear;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:hover:disabled {
      background: lighten($color__skyBlue, 30%);
      box-shadow: none;
    }
  }

  .#{$prefix}--btn--primary {
    color: $color__pearlWhite;
    background-color: $color__skyBlue;
    border: 1px solid $color__skyBlue; // to get same size as 'secondary' styled button.

    &:hover {
      background-color: darken($color__skyBlue, 20%);
      border-color: darken($color__skyBlue, 20%);
    }

    &:disabled,
    &:hover:disabled {
      background-color: lighten($color__skyBlue, 30%);
      border-color: lighten($color__skyBlue, 30%);
    }
  }

  .#{$prefix}--btn--secondary {
    color: $color__ravenBlack;
    background-color: $color__pureWhite;
    border: 1px solid $color__ravenBlack;

    &:disabled {
      color: lighten($color__ravenBlack, 50%);
      border-color: lighten($color__ravenBlack, 50%);
    }

    &:hover:disabled {
      background: $color__pureWhite;
      color: lighten($color__ravenBlack, 50%);
      border-color: lighten($color__ravenBlack, 50%);
    }
  }

  .#{$prefix}--btn--sm {
    font-size: 0.875rem;
    padding: 3px 10px;
  }

}
