// UI Color Scheme
$color__ravenBlack: #313233 !default;
$color__stoneGrey: #9B9B9B !default;
$color__pearlWhite: #f7f8fa !default;
$color__skyBlue: #5F9DC7 !default;
$color__flameRed: #e25454 !default;
$color__limeGreen: #aecc76 !default;
$color__apricotOrange: #f4a671 !default;
